
/* Décaler les infos du films plus bas */
.layout-desktop .detailPageWrapperContainer {margin-top: 20%;}

/* Désactivé le logo Jellyfish */
.layout-desktop .pageTitleWithLogo, .layout-tv .pageTitleWithLogo {display: none;}

/* Désactiver le blur dans l'info du film */
.backdropContainer {opacity: inherit;}
.backgroundContainer.withBackdrop {background-color: transparent;}


/* Correction thème Jellyfish */
.layout-desktop .detailPageWrapperContainer:has(.detailImageContainer .portraitCard) .detailPagePrimaryContent {
    min-height: 31vw !important;
}

.layout-desktop .detailPagePrimaryContent {
    padding-left: 18.4vw !important;
}

.layout-desktop .detailImageContainer .card {
    top: 11em !important;
}

.itemDetailsGroup:has(.detailsGroupItem:not(.hide)) {margin-bottom: 22.32px;}
