
/* Disable Jellyfin logo */
.layout-desktop .pageTitleWithLogo, .layout-tv .pageTitleWithLogo {display: none;}

/* Increase the spacing between the 'Writer & Studio' section and the 'Cast' section */
.layout-desktop .detailPagePrimaryContainer {
    padding-bottom: 24px;
}

/* Reduce the spacing between the cover image and the movie information */
.layout-desktop .detailPagePrimaryContent {
    padding-left: 18.4vw !important;
}

/* Move the cover image down slightly to avoid overlapping the backdrop */
.layout-desktop .detailImageContainer .card {
    top: 11em !important;
}

/* Lower the movie information and title slightly to prevent overlapping the backdrop. */
.layout-desktop .detailPagePrimaryContainer {
    padding-top: 30px;
}
